body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
  color: #eee;
}

.text-area {
  width: 100%;
  min-height: 40vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #eee;
  resize: none;
}

.voice-select {
  padding: 12px 20px;
  margin: 4px 2px;
  border: none;
  border-radius: 4px;
  background-color: #666;
  color: #eee;
  grid-area: languages;
}

.speak {
  grid-area: speak;
}

.clear {
  grid-area: clear;
}

.textarea {
  grid-area: wtf;
}

button {
  background-color: #666;
  color: #eee;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px 2px;
}

.container {
  display: grid;
  grid-template-rows: 3em auto 4em;
  grid-template-areas:
    "clear speak"
    "wtf wtf"
    "languages languages";
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-rows: 4em auto;
    grid-template-areas:
      "languages languages clear speak"
      "wtf wtf wtf wtf";
  }
}
